

.footer{
    background: black;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(236, 221, 236);
    flex-direction: column;
    font-size: 12px;
    bottom: 0;
    left:0;
    right:0;
    position:relative;
}