.shows{
    color: white;
    background:linear-gradient(to bottom, #8a4ba7 0%, #e1b1c9 100%);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
    font-size: 13px;

}
.show-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    flex:1 1 40rem;
    margin-bottom: 1rem;
    min-height: 100vh;
    align-items: center;
  }
  .show-list{
   background-color: rgb(212, 212, 226);
    margin-bottom: 5rem;
    margin-top: 5rem;
}